:root {
  --black: #040403;
  --lgrey: #6b818c;
  --salmon: #f1bf98;
  --red: #cc2936;
  --navy: #10568f;
}

header {
  align-items: center;
  background-color: var(--lgrey);
  color: var(--navy);
}

body {
  background-color: var(--salmon);
}

footer {
  background-color: var(--lgrey) !important;
  position: absolute;
  z-index: 2;
  width: 100%;
}

footer button {
  margin: 10px !important;
}

.cell {
  background-color: var(--lgrey);
  padding: 20px;
  margin: 20px;
  color: var(--red);
}

.button {
  border-radius: 10%;
}