/*Sets variables to be used throughout document*/
:root {
  --salmon: #f1bf98;
  --navy: #08415C;
}

/*Styles header*/
header {
  align-items: center;
  background-color: var(--salmon);
  color: var(--navy);
}

/*Sets background image to body of page*/
body {
  background-image: url("https://images.unsplash.com/photo-1431207446535-a9296cf995b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Styles footer*/
#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  background-color: var(--salmon);
  height: 7%;
}

.cell {
  background-color: var(--salmon);
  padding: 20px;
  margin: 20px;
  color: var(--navy);
}

#exampleModal1 {
  background-color: var(--salmon);
}

.button {
  border-radius: 10%
}
